<div class="col-12 col-md-6 col-sm-12 prof"> 
  <table class="race_prof table">
    <tbody>
    <%@race_title.each_with_index do |r,i|%>
      <%if i == 1%>
        <tr class="birthday">
          <h2><%=r%></h2><br>
        </tr>
      <%else%>
        <tr class="birthday">
          <td><%=r%></td><br>
        </tr>
      <%end%>
    <%end%>
    </tbody>
  </table>
</div>

<span class="table-responsive-sm md lg main">
  <table class="uma_race_info table">
    <thead>
      <tr class ="col-xs-3 col-ms-3 col-md-4 col-lg-6">
        <% @race_head.each do |head|%>
        <th class ="col-xs-1"><%=head%></th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <%# <tr class ="col-xs-3 col-ms-3 col-md-4 col-lg-6">
      </tr> %>
    </tbody>
  </table>
</span>