<div><a href="<%=race_result_path(name:@code)%>">レース結果</a></div>
<%= render partial: 'race/race_title', locals:{couse: @couse,race_title: @race_title}, collection:{race_title_info: @race_title_info}%>
<span class="table-responsive-sm md lg main">
  <table class="uma_race_info table" style = "font-size: 14px;">
  <%= render partial: 'race/table_items', collection:{table_items: @table_items}%>
  <tbody>
    <%= render partial: 'race/raceall',locals:{couse: @couse}, collection: @racealls%>
  </tbody>
  </table>
</span>
