<div class="jumbotron m-1">
    <div class="row">
    <div class="col-md">
        <div class="display-4">
          <h1><%= @current_user.name %><h1>
        <div class="row">
          <div class="col-md-3 offset-md-2">
            <div class="uma_search">
              <div class="dropdown drop-hover">
                <ul class="dropdown-menu">
                    <li>
                      <a  href="<%=uma_index_path%>">お気に入り馬を検索</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>

            <style>
            .drop-hover:hover > .dropdown-menu {
                display: block !important;
            }

            </style>
          </div>
        </div>

      </div>
    </div>

</div>

<div class="jumbotron jumbotron-fluid jumbotron-a h-100 m-1 rounded" style="background-color: #e3f2fd"　>
    <span class="container navbar-text">
      
    </span>
</div>
