<div class="jumbotron m-1">
      <div class="display-4">
        <h1>選択した競馬場とレース番号<h1>
        <ul>
          <li>
            そのレースに出走する馬の名前と番号
          </li>
          <li>
            そのレースに出走する馬の名前と番号
          </li>
          <li>
            そのレースに出走する馬の名前と番号
          </li>
        </ul>
          <style>
        .drop-hover:hover > .dropdown-menu {
            display: block !important;
        }
        </style>
        <button class="btn btn-secondary">前のレース</button>
        <button class="btn btn-secondary">次のレース</button>
  </div>
</div>



<div class="jumbotron jumbotron-fluid jumbotron-a h-100 m-1 rounded" style="background-color: #e3f2fd"　>
    <span class="container navbar-text">
      <div class="nav nav-pills">
        <h3 class="nav-item nav-link active ml-5 mr-5 p-4" style="user-select:none">
          開催地
        </h3>
        <div class="dropdown  mt-5 ml-5 row">
          <div class="col-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                tokyo(jraの情報)
              </button>
              <div class="dropdown-menu">
                <div class="row">
                  <div class="col-3 col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">1R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">2R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">3R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">4R</a></li><br>
                    </ul>
                  </div>
                  <div class="col-3 col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">5R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">6R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">7R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">8R</a></li><br>
                    </ul>
                  </div>
                  <div class="col-3  col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">9R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">10R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">11R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">12R</a></li>
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="dropdown mr-5 ml-5 mt-5 row">
          <div class="col-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                kyouto(jraの情報)
              </button>
              <div class="dropdown-menu">
                <div class="row">
                  <div class="col-3 col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">1R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">2R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">3R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">4R</a></li><br>
                    </ul>
                  </div>
                  <div class="col-3 col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">5R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">6R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">7R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">8R</a></li><br>
                    </ul>
                  </div>
                  <div class="col-3  col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">9R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">10R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">11R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">12R</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="dropdown mt-5 row">
          <div class="col-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                nakayama(jraの情報)
              </button>
              <div class="dropdown-menu">
                <div class="row">
                  <div class="col-3 col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">1R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">2R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">3R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">4R</a></li><br>
                    </ul>
                  </div>
                  <div class="col-3 col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">5R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">6R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">7R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">8R</a></li><br>
                    </ul>
                  </div>
                  <div class="col-3  col-md-3 col-lg-3">
                    <ul class="nav flex-column">
                      <li class="nav-item"><a href="#" class="nav-link">9R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">10R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">11R</a></li>
                      <li class="nav-item"><a href="#" class="nav-link">12R</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
      <style>
      .drop-hover:hover > .dropdown-menu {
          display: block !important;
      }
      </style>
    </span>
</div>
