<div class="gest">
<h1>ゲストさん</h1>
<p>競走馬の能力と<br>その日走る条件を掛け合わせて<br>着順を予想するアプリです</p>
</div>

<div class="ranking">
<%# userから受け取った投票を判定してポイントの高い上位３人を表示 %>
<h1>User_Ranking</h1>
  <div>
    <h2>User_Name1</h2>
    <p>Text_Content1</p>
  </div>
  <div>
    <h2>User_Name2</h2>
    <p>Text_Content2</p>
  </div>
  <div>
    <h2>User_Name3</h2>
    <p>Text_Content3</p>
  </div>
</div>