<div class="row">
  <div class="col-lg-6 m-2">
    <% if logged_in? %>
      <div class="user">
        <h1><%= @current_user.name %><h1>
        <p>競走馬の能力と<br>その日走る条件を掛け合わせて<br>着順を予想するアプリです</p>
      </div>
      <% else %>
      <div class="gest">
        <h1>ゲストさん</h1>
        <p>競走馬の能力と<br>その日走る条件を掛け合わせて<br>着順を予想するアプリです</p>
      </div>
    <%end%>
  </div>
</div>
