<div class="col-12 col-md-6 col-sm-12 prof"> 
  <table class="race_prof table">
    <tbody>
        <tr class="birthday">
          <h3>コース種類</h3>
        </tr>
      <%@c.each_with_index do |c,i|%>
        <tr class="birthday">
          <td><%=c.couse_name%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>


