// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http:/sass-lang.com/

 @import "bootstrap";


 .jumbotron h1 {
   color: #333;
 }

  @media screen and (min-width:768px){
 .index {
   padding-left: 0;
 }
}


.index a {
  text-decoration: none;
  color: rgb(15, 27, 31);
}

.index a:hover {
  color: #a7ddd1;
}

@media screen and (max-width:767px) {
    /*　画面サイズが767px以下の場合読み込む　*/
  .uma-resultl {
    padding-left: 5px;
  }}
  @media screen and (min-width:768px){
  .uma-result {
    padding-left: 200px;
  }

}



 body {
   background-color:rgb(62, 93, 197);
   user-select:none;

 }


html, body { height: 100%; }
