// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http:/sass-lang.com/

 @import "bootstrap";

 .jumbotron h1 {
   color: #333;
 }

.index a {
  text-decoration: none;
  color: rgb(15, 27, 31);
}

.index a:hover {
  color: #a7ddd1;
}


 body {
   background-color:rgb(62, 93, 197);
   user-select:none;

 }


html, body { height: 100%; }


// .flash {
//   padding: 10px 0;
//   color: white;
//   background: rgb(251, 170, 88);
//   text-align: center;
//   position: absolute;
//   top: 64px;
//   z-index: 10;
//   width: 100%;
//   border-radius: 0 0 2px 2px;
//   font-size: 14px;
// }
