// Place all the styles related to the Uma controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #faf4f4;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

ul {
  background: #dadada;
  border-radius :6px;
  box-shadow :0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;
  display: -ms-flexbox;  
  display: -webkit-flex; 
  display: flex;
  -webkit-flex-flow: wrap column; 
  flex-flow: wrap column;
  max-height: 680px;
  margin-bottom: 1px;
}
ul li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.paginate {
  margin: 0;
  background-color: #cac9c7;
  border-radius :2px;
  letter-spacing: 6px;
  height: 32px;
  font-size: 16px;
  padding-left: 10px;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #e9e3e3;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #ddf1ef;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

// 馬詳細のプロフィール

.prof {
  // width: 380px;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28px;
  background-color: whitesmoke;
  border: solid 2px skyblue;
  border-radius: 1%;
}

.main {
  // margin-left: 10px;
  // padding-top: 8px;
  // padding-bottom: 8px;
  // padding-left: 28px;
  background-color: whitesmoke;
  padding: 0;
}

.uma_race_info {
  background-color: whitesmoke;
  border: none 2px rgb(243, 247, 248);
  border-radius: 2%;

  margin: 5px;
}

.uma_race_info thead {
  writing-mode: vertical-lr;
  white-space: nowrap;
  margin: 0;
  font-size: 15px;
}

.uma_race_info thead th {
  height: 50px;
  line-height:120%;

}


.ped {
  padding: 0s;
  border: solid 2px rgba(83, 82, 82, 0.2);
  border-radius: 2%;
}

.ped_title {
  color: salmon;
}